{{#items}}
  <article>
  <h3 class="h6">
    <span class="event-date accent-color">{{date}}</span>
    <span class="p"><a href="{{link}}">{{title}}</a></span>
  </h3>
  <!--<div>{{description}}</div>-->
  </article>
{{/items}}
